/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Lexend+Zetta:wght@100..900&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}
  .login-container h2 {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 50px;
}

  .home-content h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 220%;
    font-style: normal;
}


.login-container input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-container p {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.App h1 {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.slogan p {
  text-align: center;
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #333;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.login-container button {
  background-color: #3498db; /* Example blue */
  background-image: linear-gradient(90deg, #3498db 0%, #5dade2 74%);
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 50px;
}

.login-container button:hover {
  transform: scale(1.05); /* Grows the button by 5% */
  transition: transform 150ms ease-in-out; /* Smooth transition */
}

.login {
  margin: 2em;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 0.5em;
}

.login input {
  margin-bottom: 1em;
  padding: 0.5em;
}

.error {
  color: red;
}

/* src/Scan.css */
.scan-container {
  padding: 20px;
  text-align: center;
}

.barcode-scanner input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

.barcode-scanner button {
  padding: 10px;
}

.nutrition-info {
  margin-top: 20px;
  text-align: left;
  font-size: 1.2rem;
}

.nutrition-info img {
  max-width: 100px;
  margin-top: 10px;
}

.nutrition-info p {
  margin: 5px 0;
}
